<div class="row">
  <div class="col-md-12">
    <ng-form name="propertyOverviewForm" confirmation-on-leave>
      <div class="row">
        <div class="documents col-md-6" ui-view="property">
          <dmi-panel class="print-documents-panel">
            <dmi-panel-header>
              <dmi-panel-title icon="icon-stack" panel-title="property.headings.documents"></dmi-panel-title>
            </dmi-panel-header>

            <dmi-panel-body class="form-horizontal">
              <div class="form-group" ng-if="!billingMainProductConfiguration">
                <div class="col-md-12">
                  <div id="property-missingMainProductConfigurationForDocuments" class="callout callout-info">
                    <h5 data-translate="property.documents.messages.missingMainProductConfiguration.title"></h5>
                    <p data-translate="property.documents.messages.missingMainProductConfiguration"></p>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12" data-translate="property.documents.serviceOrder.info">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 text-right">
                  <a id="run-service-invoice-process-start" class="btn btn-primary document-button"
                     ng-click="startServiceInvoiceProcess()"
                     ng-disabled="!billingMainProductConfiguration"
                     data-translate="property.documents.startServiceInvoiceProcess.button"></a>
                  <dmi-file-downloader id="cost-user-list-pdf"
                                       dmi-disable="!billingMainProductConfiguration"
                                       dmi-file-url="{{downloadCostListUserList.href}}"
                                       dmi-filename="{{downloadCostListUserList.download}}"
                                       dmi-button-name="property.documents.costListUserList.button">
                  </dmi-file-downloader>
                </div>
              </div>
            </dmi-panel-body>
          </dmi-panel>
        </div>
      </div>
    </ng-form>
  </div>
</div>